*.log

__pycache__/
*.egg-info/
*.whl

dist/
build/

venv/
.venv/
venv*/

.stignore
*.sync-conflict*

*.ini
!*_TEMPLATE.ini

.wptemp
/results/

configs/*.toml
!configs/templates/*.toml

.pytest_cache

.claude

.vscode
